.usecase {
  margin: 0 auto
}
.usecase_sentense {
  padding: 10px;
}
.usecase_group {
  text-align: center;
}
.usecase_image {
  display: inline-block;
  margin: 5px;
  text-align: center;
}
.usecase_image img {
  width: 100%;
  max-width: 480px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
}
.usecase_code {
  display: inline-block;
  text-align: left;
  color: #fff;
  line-height: 1.5;
  background-color: #2b3137;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  border-radius: 3px;
  height: auto;
  max-width: 100%;
  max-height: 239px;
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}
.usecase_code button {
  display: none;
}
